@{
    ViewData["Title"] = "Login";
}

<div style="display: flex; flex-direction: column; gap: 55px; justify-content:center; align-items:center; width: 700px; height:460px;margin-top:80px" class="shadow">
    <h2 style="font-size:32px; color:black; ">Bem Vindo</h2>
    <form asp-controller="Login" asp-action="Login" method="post" style="display: flex; flex-direction:column; align-items: center; justify-content: center; gap: 30px;">

        <input type="email" name="email" style="background-color:transparent; color:black; border: 1px solid black; width:500px; height: 50px; border-radius: 8px; padding-left:25px" required />
        <input type="password" name="senha" style="background-color:transparent; color:black; border: 1px solid black; width:500px; height: 50px; border-radius: 8px; padding-left:25px" required />
        <button type="submit" style="background-color:rgba(13, 109, 253, 1); color:white; width:193px; height: 50px; border-radius: 8px; margin-top: 5px; border:none">Entrar</button>
    </form>
</div>

@if(TempData["Mensagem"] != null)
{
    <p style="color: red">@TempData["Mensagem"]</p>
}
