.App {
  text-align: center;
}

.App-header {
  background-color: #8758FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Content-Box{
  width: 745px;
  height: 495px;
  background-color: #1E123B;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputBox{
  width: 308px;
  height: 42px;
  border: 2px solid #fcfcfc;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.inputHome{
  background-color: transparent;
  width: 80%;
  border: none;
  color: #fcfcfc;
  text-align: right;
}
.inputHome::placeholder{color: #fcfcfc; font-size: 16px; }


.title{
  font-size: 36px;
  color:#fcfcfc;
  margin-top: 47px;
}

.buttonOpenModal{
  width: 200px;
  height: 50px;
  background-color: #6C45CE;
  color: #fcfcfc;
  font-size: 24px;
  border: 2px solid #fcfcfc;
  border-radius: 8px;
  position: relative;
  top: 17px;
  left: 273px;
}

.list{
  width: 90%;
  margin-top: 70px;
}