<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sistema.styles.css" asp-append-version="true" />
</head>
<body>

    @if (ViewData["Title"] != "Login")
    {
        <header style="width: 100%; height:100px; display:flex; justify-content: space-around; align-items:center; background-color:rgba(13, 109, 253, 1); margin:0;">
            <a asp-controller="Professor" style="color: white; font-size: 24px; text-decoration:none">@ViewBag.NomeProfessor</a>
            <form asp-controller="Login" asp-action="Logout">
                <button style="color: white; background-color:transparent; border:none">Sair</button>
            </form>
        </header>
    }

    <main role="main" style="display:flex; justify-content:center; align-items:center; flex-direction:column;">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
