@{
    ViewData["Title"] = "Atividades";
}

<style>
    #descricao::placeholder{
        color: rgba(13, 109, 253, 1);
    }
</style>

@if (ViewBag.NomeProfessor == null)
{
    <a asp-controller="Login">Login</a>
}
else
{
    <div style="display:flex; flex-direction: row; align-items: center;margin-bottom: 50px;margin-top:40px; gap: 690px">
        <form asp-controller="Professor" asp-action="Index">
            <button style="width:105px; height:50px; border: 2px solid rgba(13, 109, 253, 1); background-color:white; color: rgba(13, 109, 253, 1);border-radius:10px;">Voltar</button>
        </form>

        <form asp-controller="Atividade" asp-action="CadastrarAtividades">
            <input type="text" placeholder="Descrição" name="nomeAtividade" style="width:210px; height:50px; border: none;border-bottom: 1px solid rgba(13, 109, 253, 1); background-color:white; color: rgba(13, 109, 253, 1); padding-left:10px; margin-right: 20px;" id="descricao" required />
            <input type="hidden" name="turmaId" value="@ViewBag.TurmaId" required />

            <button style="width:210px; height:50px; border: 2px solid rgba(13, 109, 253, 1); background-color:white; color: rgba(13, 109, 253, 1);border-radius:10px;">Cadastrar atividade</button>
        </form>
    </div>
   
    <h2 style="align-self: start; margin-left: 150px; margin-bottom:50px">Turma: @ViewBag.TurmaNome</h2>

    <table style="width:80%;">
        <thead style="width:100%">
            <tr style="width:100%; height:50px;display:flex; flex-direction: row; align-items:center ; border-bottom-color: black; border-bottom-width:2px; border-bottom-style: solid">
                <th style="width:20%">Número</th>
                <th style="width:80%">Nome da atividade</th>
            </tr>
        </thead>
        <tbody style="width:100%">
            @foreach (var atividades in Model)
            {
                <tr style="width:100%; height:50px;display:flex; flex-direction: row; align-items:center ; border-bottom-color: black; border-bottom-width:1px; border-bottom-style: solid">
                    <td style="width:20%; padding-left:10px;">@atividades.AtividadeId</td>
                    <td style="width:80%">@atividades.Descricao</td>
                </tr>
            }
        </tbody>
    </table>
}